<!-- Contact Section -->
<section class="contact" id="contact">
    <div class="container">
        <h2 class="text-center text-primary-blue section-title mb-5 fade-in">Nous Contacter</h2>
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="contact-info fade-in">
                    <h4 class="mb-4">Informations</h4>
                    <p>
                        <div style="display: inline-flex"><i class="fas fa-map-marker-alt"></i> </div>
                        <div style="display: inline-flex">{{ctx.contact.address_name}}<br />{{ctx.contact.address}}</div>
                    </p>
                    <p><i class="fas fa-phone"></i> {{ctx.contact.phone}}</p>
                    <p><i class="fas fa-envelope"></i> {{ctx.contact.email}}</p>

                    <h4 class="mt-5 mb-3" id="horaires">Horaires d'ouverture</h4>
                    <p><i class="far fa-clock"></i> Du mardi au samedi : 9h - 19h</p>
                    <p><i class="far fa-clock"></i> Dimanche : 9h - 13h</p>
                    <p><i class="far fa-clock"></i> Lundi : Fermé</p>

                    <div class="mt-4">
                        <a href="#" class="btn btn-accent-yellow">Nous trouver</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="map-container fade-in fade-in-delay-1">
                    <iframe src="{{ctx.contact.google_maps_url}}" referrerpolicy="no-referrer-when-downgrade" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
