.navbar {
    padding: 1.2rem 0;
    transition: all 0.4s ease;
    background-color: var(--primary-blue);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    padding-top: 0;
    padding-bottom: 0;
}

.navbar.scrolled {
    padding: 0.8rem 0;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.navbar-brand img {
    height: 60px;
    transition: all 0.4s ease;
}

.navbar-brand i {
    color: var(--text-brand-cheese);
}

.navbar.scrolled .navbar-brand img {
    height: 50px;
}

.nav-link {
    color: var(--navbar-link-color);
    font-weight: 500;
    margin: 0 10px;
    position: relative;
    transition: all 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--accent-yellow);
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: var(--navbar-link-color-hover);
}
