:root {
    --main-design-yellow: #f3e264;
    --main-design-blue: #1a4b89;
    --main-design-cheese: #ffa600;
    --primary-blue: #0a3b79;
    --primary-blue-light: #1a4b89;
    --primary-blue-dark: #062c5a;
    --accent-yellow: #f3e264;
    --accent-yellow-light: #f7e983;
    --accent-yellow-dark: #e5d44a;
    --light-gray: #f8f9fa;
    --text-dark: #333;
    --text-light: #f8f9fa;
    --text-brand-cheese: var(--main-design-cheese);

    --navbar-link-color: var(--text-light);
    --navbar-link-color-hover: var(--text-light);
}
